*{
    box-sizing: border-box;
}

.row::after {
content: "";
clear: both;
display: table;
}

[class*="col-"] {
float: left;
padding: 15px;
}
 
.wrapper{
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100vh;
    justify-content: center;
    flex-wrap: wrap;
}

.sign-up{
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    justify-content: center;
    height: 50%;
    width: 50%;
    background-color: #571089;
    color: white;
    border-radius: 10px;
    float: left;
}

h1{
    margin: 10px;
    font-size: 40px;
}

.slider{
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    justify-content: center;
    height: 50%;
    width: 50%;
    float: left;

}

h2{
    font-size: 14px;
}

.entrar{
    display: inline-flex;
    flex-direction: row;
    align-items: baseline;
}

form{
    position: relative;
  display:block;
}