
.wrapper{
    display: grid;
    grid-template-columns: 50% 50%;
    height: 90vh;
}

.sign-up{
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    justify-content: center;
    height: 40vh;
    width: 40vh;
    background-color: #571089;
    color: white;
}

h1{
    margin: 2px;
    font-size: 40px;
}

.slider{
    
}

h2{
    font-size: 14px;
}

.entrar{
    display: inline-flex;
    flex-direction: row;
    align-items: baseline;
}