.slider{
    overflow: hidden;
}

.slider--width{
    height: 100%;
    display: flex;
    transition: all ease 0.3s;
}

.slider--item{
    width: 100vw;
    height: inherit; 
    background-position: center;
    background-size: cover;
}