.App {
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgb(26, 22, 22);

}

h1{
  border: solid 2px black;
  font-size: 40px;
  background-color: #822FAF;
  border-radius: 15px;
}
.link{
  color: white;
  margin: 5px;

}
nav{
  display: flex;
  justify-content: space-evenly;
}

.App-header{
  margin: 0;
  border: solid 1px;
  background-color: #47126B;
  align-items: center;
  color: white;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
