.App {
  text-align: center;
  background-color: black;
  margin: 0;
  padding: 0;
}
.link{
  color: white;
}
nav{
  display: flex;
  justify-content: space-around;
  color: #f0f;
}

.App-header{
  background-color: #47126B;
  align-items: center;
  color: white;
}