.wrapper{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
        "slider sign-up"
    ;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    display: flex;
    grid-column-gap: 10px;
    grid-row-gap: 1em;
}

@media only screen and (max-width: 550px) { 
    .wrapper{
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
        grid-template-areas: 
        "slider"
        "login"
        ;
        justify-content: center;
        grid-column-gap: 10px;
        grid-row-gap: 1em;
    }
}
.login{
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    justify-content: center;
    height: 50%;
    width: 50%;
    color: black;
    border-radius: 10px;
    grid-area: sign-up;
}
a{
    margin-left: 5px;
    color: black;
}

.slider{
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    justify-content: center;
    height: 50%;
    width: 50%;
    grid-area: slider;
}

.welcome{
    top: 241px;
    left: 1301px;
    width: 278px;
    height: 38px;
    text-align: left;
    font: normal normal normal 30px/38px Muli;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
}




