.wrapper{
    display: grid;
    grid-template-columns: 50% 50%;
    height: 90vh;
}

.login{
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    justify-content: center;
    height: 40vh;
    width: 40vh;
    background-color: #571089;
    color: white;
    border-radius: 10px;
}
a{
    margin-left: 5px;
    color: white;
}

.slider{
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    justify-content: center;
    height: 80vh;
    width: 80vh;
    
}

